<o-form #PatientForm attr="Patient_form_insert" service="Patient" entity="Patient"
keys="id" fxLayout="column" show-header="yes" header-actions="I"
horizontal-scroll="yes"
after-insert-mode="new" class="standalone-form-container" >

<o-row attr="row1" layout-align="start stretch">
  <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
    
        <o-text-input #name attr="name" label=" name" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-date-input #birth_date attr="birth_date" value-type="string" label="birth_date" enabled="yes" required="no" format="YYYY-MM-DD" fxFlex="20%" class="form-field"></o-date-input>
      
        <o-real-input #age attr="age" label="age" min-decimal-digits="2" max-decimal-digits="4" min="0" max="1000000000" fxFlex="20%" class="form-field"></o-real-input>
      
        <o-integer-input #weight attr="weight" label="weight" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-integer-input #height attr="height" label="height" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-real-input #hba1c attr="hba1c" label="hba1c" min-decimal-digits="2" max-decimal-digits="4" min="0" max="1000000000" fxFlex="20%" class="form-field"></o-real-input>
      
        <o-integer-input #duration attr="duration" label="duration" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-text-input #patient_sex attr="patient_sex" label="patient_sex" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-real-input #creatine_mg_dl attr="creatine_mg_dl" label="creatine_mg_dl" min-decimal-digits="2" max-decimal-digits="4" min="0" max="1000000000" fxFlex="20%" class="form-field"></o-real-input>
      
        <o-text-input #medical_record_number attr="medical_record_number" label="medical_record_number" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-date-input #created_date attr="created_date" value-type="string" label="created_date" editable="no" required="no" format="YYYY-MM-DD hh:mm:ss" fxFlex="20%" class="form-field"></o-date-input>
      
        <o-integer-input #id attr="id" label="id" type="integer" editable="no" required="yes" ></o-integer-input>
      
        <o-integer-input #ckd attr="ckd" label="ckd" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-integer-input #cad attr="cad" label="cad" type="integer" editable="no" required="no" ></o-integer-input>
      
        <o-integer-input #hld attr="hld" label="hld" type="integer" editable="no" required="no" ></o-integer-input>
      
</div>
</o-row>

<div layout-padding></div>

</o-form>