<o-form-layout-manager attr="Reading" mode="tab" title="READING">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="ReadingTable" 
            service="Reading" 
            entity="Reading" 
            title="READING"
            keys="id"
            columns="id;patient_id;morning;afternoon;dinner;bedtime;reading_date" 
            header-actions="R;D"
            visible-columns="id;patient_id;morning;afternoon;dinner;bedtime;reading_date"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="yes" content-align="center"></o-table-column>
            
            <o-table-column attr="patient_id" title="Patient">
    <o-table-cell-renderer-service attr="patient_id" 
        service="Patient" entity="PatientType" columns="id;name"
        parent-keys="id:patient_id"
        value-column="name" keys="patient_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #morning attr="morning" title="morning" type="real" min-decimal-digits="2" max-decimal-digits="4" min="0" max="1000000.0000" content-align="center"></o-table-column>
            
            <o-table-column #afternoon attr="afternoon" title="afternoon" type="real" min-decimal-digits="2" max-decimal-digits="4" min="0" max="1000000.0000" content-align="center"></o-table-column>
            
            <o-table-column #dinner attr="dinner" title="dinner" type="real" min-decimal-digits="2" max-decimal-digits="4" min="0" max="1000000.0000" content-align="center"></o-table-column>
            
            <o-table-column #bedtime attr="bedtime" title="bedtime" type="real" min-decimal-digits="2" max-decimal-digits="4" min="0" max="1000000.0000" content-align="center"></o-table-column>
            
            <o-date-input #reading_date attr="reading_date" type="timestamp" label="reading_date" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>