<o-form #DrugUnitForm attr="DrugUnit_form_insert" service="DrugUnit" entity="DrugUnit"
keys="unit_name" fxLayout="column" show-header="yes" header-actions="I"
horizontal-scroll="yes"
after-insert-mode="new" class="standalone-form-container" >

<o-row attr="row1" layout-align="start stretch">
  <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
    
        <o-text-input #unit_name attr="unit_name" label=" unit_name" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
</div>
</o-row>

<div layout-padding></div>

</o-form>